<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.practice.repository.mapper.UserMapper">
  <select id="count" resultType="integer">
    SELECT count(*) FROM `user`
  </select>
  <select id="findAll" resultType="com.example.practice.dto.User">
    SELECT id, mail, password, roles, created, last_logined, enabled FROM `user`
  </select>
</mapper>
